.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    width: 100%;
    flex-direction: column;
}

.container {
    width: 50%;
    height: 50%;

}

.rating {
    display: flex;
    list-style: none;
    margin-bottom: 2%;
    width: 100%;
}

.list-item {
    margin-right: 0.5%;
}

.submit-btn {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .list-box {
        max-height: 100px; 
    }
}

.list-box {
    width: 100%;
    max-height: 150px;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: auto;

}

.course-item {
    margin-top: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}